<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Имя приложения (используется в логах) -->
  <property name="APP_NAME" value="MyApplication"/>
  <!-- Путь к папке с логами -->
  <property name="LOG_DIR" value="logs"/>
  <!-- Шаблон для вывода логов -->
  <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n"/>
  <!-- Логирование в консоль -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
  <!-- Логирование в файл с ротацией по размеру и времени -->
  <!-- <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
  <!-- <file>${LOG_DIR}/${APP_NAME}.log</file> -->
  <!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
  <!-- Имя файла с учетом даты -->
  <!-- <fileNamePattern>${LOG_DIR}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern> -->
  <!-- Ротация по размеру (например, 10 МБ) -->
  <!-- <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> -->
  <!-- <maxFileSize>10MB</maxFileSize> -->
  <!-- </timeBasedFileNamingAndTriggeringPolicy> -->
  <!-- Хранение логов за последние 30 дней -->
  <!-- <maxHistory>30</maxHistory> -->
  <!-- </rollingPolicy> -->
  <!-- <encoder> -->
  <!-- <pattern>${LOG_PATTERN}</pattern> -->
  <!-- </encoder> -->
  <!-- </appender> -->
  <!-- Логирование ошибок в отдельный файл -->
  <!-- <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
  <!-- <file>${LOG_DIR}/${APP_NAME}-errors.log</file> -->
  <!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
  <!-- <fileNamePattern>${LOG_DIR}/${APP_NAME}-errors.%d{yyyy-MM-dd}.%i.log</fileNamePattern> -->
  <!-- <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> -->
  <!-- <maxFileSize>10MB</maxFileSize> -->
  <!-- </timeBasedFileNamingAndTriggeringPolicy> -->
  <!-- <maxHistory>30</maxHistory> -->
  <!-- </rollingPolicy> -->
  <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> -->
  <!-- <level>ERROR</level> -->
  <!-- </filter> -->
  <!-- <encoder> -->
  <!-- <pattern>${LOG_PATTERN}</pattern> -->
  <!-- </encoder> -->
  <!-- </appender> -->
  <!-- Уровень логирования по умолчанию -->
  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>
  <!-- Логирование для конкретных пакетов -->
  <logger name="liquibase.integration.spring" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <!-- Логирование для Spring Framework -->
  <!-- <logger name="org.springframework" level="WARN" additivity="false"> -->
  <!-- <appender-ref ref="CONSOLE"/> -->
  <!-- <appender-ref ref="FILE"/> -->
  <!-- </logger> -->
  <!-- Логирование для Hibernate -->
  <!-- <logger name="org.hibernate" level="ERROR" additivity="false"> -->
  <!-- <appender-ref ref="CONSOLE"/> -->
  <!-- <appender-ref ref="FILE"/> -->
  <!-- </logger> -->
</configuration>
